.grid {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 500px;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.activated {
    background-color: black;
}

.drawingBoard {
    display: flex;
}

.mainBody {
    display: flex;
}

.mainBody div {
    flex: auto;
}

.mainBody .drawingBoard {
    flex: 1 1 0%;
}

.drawingBoard div {
    flex: auto;
}